@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body {
  background-color: white;
  margin-left: 10px;
}

* {
  font-family: 'Baloo 2', sans-serif;
}

*:not(h1):not(h2):not(h3) {
  font-size: 16px;
}

.required {
  color: red;
}