@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body {
  background-color: white;
}

* {
  font-family: 'Baloo 2', sans-serif;
}
      
#coloredText{
  font-size: 5em;
}